<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inside Info</title>
    {% include "_header.html" %}
    <p style="background-color:aliceblue;color:rgb(28, 79, 110)" >
        Information about the path</p>
</head>
<body>
    <ul>
        <li>Path:{{path}}</li>
        <li>Scheme:{{scheme}}</li>
        <li>Method:{{method}}</li>
        <li>Response:{{response}}</li>
    </ul>

</body>
</html>